

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-color: #252525;
}


/* Color Vairables */

$monte-carlo: #7BCCC4;
$gossamer: #009788;
$text-black: #202020;

$primary-color: $gossamer;
$secondary-color: $monte-carlo;
$black-text: $text-black;



/* Header */

.application-container {
  max-width: 100%;
  max-height: 5%;
  background-color: $primary-color;

  .main-header {
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 300;
  }
}

/* Calendar View */

.calendar-container {
  max-width: 80%;
  max-height: 60%;
  background-color: $primary-color;
  margin: 0 auto;
  margin-top: 10px;
  .week-header {
    max-width: 90%;
    max-height: 10%;
    .week-header-title {
      text-align: center;
      padding: 5px;
    }
  }
  .week-container {

    .day-container {
      display: inline-block;
      max-width: 10%;
      margin: 0 auto;
      margin-left: 5px;
    }
  }
}


/* Day View */

.day-container {
  max-width: 40%;
  max-height: 70%;
  background-color: $secondary-color;
  margin: 0 auto;
  margin-top: 30px;
  list-style: none;
  padding: 20px;

  .appointment-header {
    text-align: center;
  }

  .list-container {
    ul {
      list-style: none;
      padding: 10px 0;
    }
    .app-time {
      padding: 5px;
      text-align: center;
      border: 1px white solid;
    }
  }
  .date-footer {
    text-align: center;
  }
}

/* Form View */

.form-container {
  position: relative;
  padding: 20px;
  background-color: $secondary-color;
  max-width: 50%;
  max-height: 40%;
  .paragraph-field {
    position: relative;
    p {
      margin: 5px 0;
    }
  }
  .input-field {
    input, textarea {
      display: block;
      width: 200px;
      margin: 5px 0;
    }
    position: absolute;
    right: 0;
    top: 5;
    padding-right: 10px
  }
  margin: 0 auto;
  margin-top: 30px;
  .form-button {
    margin: 0 auto;
    padding: 3px;
  }
}

/* Thanks View */

.thanks-container {
  width: 50%;
  height: 200px;
  background-color: $secondary-color;
  margin: 0 auto;
  margin-top: 50px;
  .thanks-banner {
    text-align: center;
    padding-top: 80px;
    font-weight: 300;
    color: $black-text;
  }
}
