@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-color: #C3BABA;
}

body {
  background-image: url("https://download.unsplash.com/photo-1421757295538-9c80958e75b0");
  background-position: center;
  background-size: cover;
  opacity: 50;
}

/* Color Vairables */


$gossamer: #009788;
$text-black: #202020;

$primary-color: $gossamer;
$secondary-color: #9A8F97;
$black-text: $text-black;



/* Header */

.application-container {
  max-width: 100%;
  max-height: 5%;
  background-color: $primary-color;
  margin: 0 auto;

  .main-header {
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 45px;
  }
}

/* New View */
.register-container {
  padding: 90px;
}

.new-form {
  position: relative;
  padding: 20px;
  background-color: #f5f5f5;
  max-width: 25%;
  max-height: 40%;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  fieldset {
    height: 100%;
  }
  .register-header {

  }
  input {
    display: block;
    width: 200px;
    margin: 5px 0;
    height: 30px;
    padding-left: 5px;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    font-weight: lighter;
    border-radius: 3px;
  }
  button:{
    width: 200px;
    height: 20px;
  }
}

/* Login View */

.login-container {
  position: relative;
  padding: 20px;
  background-color: #f5f5f5;
  max-width: 25%;
  max-height: 40%;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  .login-header {

  }
  input {
    display: block;
    width: 200px;
    margin: 5px 0;
    height: 30px;
    padding-left: 5px;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    font-weight: lighter;
    border-radius: 3px;
  }
  button:{
    width: 200px;
    height: 20px;
  }
}

/* Calendar View */

.calendar-container {
  position: relative;
  padding: 20px;
  background-color: #f5f5f5;
  max-width: 90%;
  max-height: 40%;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  .date-container {
    font-size: 14px;
  }
  .week-header {
    max-width: 12%;
    max-height: 10%;
    display: inline-block;
    .week-header-title {
      text-align: center;
      padding: 5px;

    }
  }
  .apps-container {
    margin: 0 auto;
    list-style: none;
    a {
      color: $text-black;
      text-decoration: none;
    }
  }
  .app-time {
    text-align: center;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
    background-color: #ccc;
  }
}


.calendar-day {
  display: inline-block;
  width: 14%;
  margin: 0 auto;
}


/* Create View */

.form-container {
  position: relative;
  padding: 40px 20px;
  background-color: #f5f5f5;
  max-width: 50%;
  max-height: 40%;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  margin-top: 80px;
  .paragraph-field {
    position: relative;
    ul {
      list-style: none;
      padding-left: 0;
    }
    p {
      position: relative;
      text-align: right;
      width: 250px;
      /* padding-bottom: 10px; */
      font-weight: lighter;

    }
  }
  .input-title {
    display: inline-block;
    width: 250px;
    text-align: right;
    padding-right: 10px;
    font-weight: lighter;
    height: 30px;
    font-size: 15px;
    margin-left: 37px;
  }
  .input-field {
    input {
      width: 200px;
      margin: 5px 0;
      height: 30px;
      padding-left: 5px;
      border: 1px solid #dfdfdf;
      font-size: 12px;
      font-weight: lighter;
      border-radius: 3px;
      font-size: 15px;
    }
    display: inline-block;
    right: 0;
    padding-right: 10px;
  }
  margin: 0 auto;
  margin-top: 30px;
  .create-button {
    text-align: center;
    button {
      margin: 0 auto;
      padding-bottom: none;
      width: 50%;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      height: 40px;
      margin-top: 10px;
      background-color: $primary-color;
      color: white;
      font-weight: lighter;
      border: 2px solid $primary-color;
      border-radius: 5px;
    }
  }
}

/* Thanks View */

.thanks-container {
  position: relative;
  padding: 20px;
  background-color: #f5f5f5;
  max-width: 50%;
  max-height: 40%;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  a {
    text-decoration: none;
    color: #202020;
  }
  .index-link {
    margin: 20px auto;
    margin-top: 30px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    background-color: $primary-color;
    color: white;
    font-weight: lighter;
  }
  .thanks-banner {
    text-align: center;
    padding-top: 30px;
    font-weight: 300;
    color: $black-text;
  }
}

/* Login View */

.login-form {
  margin: 0 auto;
  width: 40%;
  height: 300px;
  background-color: $secondary-color;
  margin-top: 50px;
  input, button {
    display: block;
    width: 70%;
    height: 20%;
    margin: 0 auto;
    padding-top: 20px;
  }
}

/* User View */

.user-container {
  position: relative;
  padding: 20px;
  background-color: #f5f5f5;
  max-width: 25%;
  max-height: 40%;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  .user-info, .appointment-info {
    border: 1.5px solid #dfdfdf;
    border-radius: 5px;
    padding: 5px;
  }
  .index-info {
    margin: 0 auto;
    width: 60%;
  }
  .index-headline, .appointment-headline {
    h2 {
      font-weight: 100;
    }
  }
  .user-list {
    list-style: none;
  }
}
