
<div class="day-container">
  <h2 class="appointment-header">Appointment Times</h2>
  <div class="list-container">

    <ul>
      <li class="app-time">9:00am</li>
      <li class="app-time">10:00am</li>
      <li class="app-time">11:00am</li>
      <li class="app-time">12:00pm</li>
      <li class="app-time">1:00pm</li>
      <li class="app-time">2:00pm</li>
      <li class="app-time">3:00pm</li>
      <li class="app-time">4:00pm</li>
      <li class="app-time">5:00pm</li>
    </ul>

  </div>
  <h2 class="date-footer" {{moment date}}></h2>
</div>


{{outlet}}
