{{outlet}}

<div class="day-container">
  <h2 class="appointment-header">Appointment Times</h2>
  <div class="list-container">

    <ul class="apps-container">
      <li class="app-time">{{#link-to 'appointments.create' 9}}9:00am{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.create' 10}}10:00am{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.create' 11}}11:00am{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.create' 12}}12:00pm{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.create' 13}}1:00pm{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.create' 14}}2:00pm{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.create' 15}}3:00pm{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.create' 16}}4:00pm{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.create' 17}}5:00pm{{/link-to}}</li>
    </ul>

  </div>
  <h4 class="date-footer">{{moment date}}</h4>
</div>
