{{outlet}}

<div class="day-container">
  <h2 class="appointment-header">Appointment Times</h2>
  <div class="list-container">

    <ul>
      <li class="app-time">{{#link-to 'appointments.form'}}9:00am{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.form'}}10:00am{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.form'}}11:00am{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.form'}}12:00pm{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.form'}}1:00pm{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.form'}}2:00pm{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.form'}}3:00pm{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.form'}}4:00pm{{/link-to}}</li>
      <li class="app-time">{{#link-to 'appointments.form'}}5:00pm{{/link-to}}</li>
    </ul>

  </div>
  <h4 class="date-footer">{{moment date}}</h4>
</div>
