{{outlet}}

<div class="day-container">
  <h2 class="appointment-header">Appointment Times</h2>
  <div class="list-container">

    <ul class="apps-container">
      {{#link-to 'appointments.create' 9}}<li class="app-time">9:00am</li>{{/link-to}}
      {{#link-to 'appointments.create' 10}}<li class="app-time">10:00am</li>{{/link-to}}
      {{#link-to 'appointments.create' 11}}<li class="app-time">11:00am</li>{{/link-to}}
      {{#link-to 'appointments.create' 12}}<li class="app-time">12:00pm</li>{{/link-to}}
      {{#link-to 'appointments.create' 13}}<li class="app-time">1:00pm</li>{{/link-to}}
      {{#link-to 'appointments.create' 14}}<li class="app-time">2:00pm</li>{{/link-to}}
      {{#link-to 'appointments.create' 15}}<li class="app-time">3:00pm</li>{{/link-to}}
      {{#link-to 'appointments.create' 16}}<li class="app-time">4:00pm</li>{{/link-to}}
      {{#link-to 'appointments.create' 17}}<li class="app-time">5:00pm</li>{{/link-to}}
    </ul>

  </div>
  <h4 class="date-footer">{{moment date}}</h4>
</div>
