{{outlet}}

<div class="day-container">
  <h2 class="appointment-header">Appointment Times</h2>
  <div class="list-container">

    <ul class="apps-container">
      {{#link-to 'appointments.create' 900}}<li class="app-time">9:00am</li>{{/link-to}}
      {{#link-to 'appointments.create' 1000}}<li class="app-time">10:00am</li>{{/link-to}}
      {{#link-to 'appointments.create' 1100}}<li class="app-time">11:00am</li>{{/link-to}}
      {{#link-to 'appointments.create' 1200}}<li class="app-time">12:00pm</li>{{/link-to}}
      {{#link-to 'appointments.create' 1300}}<li class="app-time">1:00pm</li>{{/link-to}}
      {{#link-to 'appointments.create' 1400}}<li class="app-time">2:00pm</li>{{/link-to}}
      {{#link-to 'appointments.create' 1500}}<li class="app-time">3:00pm</li>{{/link-to}}
      {{#link-to 'appointments.create' 1600}}<li class="app-time">4:00pm</li>{{/link-to}}
      {{#link-to 'appointments.create' 1700}}<li class="app-time">5:00pm</li>{{/link-to}}
    </ul>

  </div>
  <h4 class="date-footer">{{moment date}}</h4>
</div>
