

<div class="calendar-container">
  <div class="week-header">
    <p class="week-header-title">
      {{#each date in displayDates}}
        <p class="date-container">{{date.display}}</p>
        <ul class="apps-container">
          {{#link-to 'appointments.create' date.slug 900}}<li class="app-time">9:00am</li>{{/link-to}}
          {{#link-to 'appointments.create' date.slug 1000}}<li class="app-time">10:00am</li>{{/link-to}}
          {{#link-to 'appointments.create' date.slug 1100}}<li class="app-time">11:00am</li>{{/link-to}}
          {{#link-to 'appointments.create' date.slug 1200}}<li class="app-time">12:00pm</li>{{/link-to}}
          {{#link-to 'appointments.create' date.slug 1300}}<li class="app-time">1:00pm</li>{{/link-to}}
          {{#link-to 'appointments.create' date.slug 1400}}<li class="app-time">2:00pm</li>{{/link-to}}
          {{#link-to 'appointments.create' date.slug 1500}}<li class="app-time">3:00pm</li>{{/link-to}}
          {{#link-to 'appointments.create' date.slug 1600}}<li class="app-time">4:00pm</li>{{/link-to}}
          {{#link-to 'appointments.create' date.slug 1700}}<li class="app-time">5:00pm</li>{{/link-to}}
        </ul>

      {{/each}}
    </p>
  </div>
  <!-- <div class="week-container">
    <div class="day-container sunday">
      <h2 class="day-title">Sunday</h2>
    </div>
    <div class="day-container monday">
      <h2 class="day-title">Monday</h2>
    </div>
    <div class="day-container tuesday">
      <h2 class="day-title">Tuesday</h2>
    </div>
    <div class="day-container wednesday">
      <h2 class="day-title">Wednesday</h2>
    </div>
    <div class="day-container thursday">
      <h2 class="day-title">Thursday</h2>
    </div>
    <div class="day-container friday">
      <h2 class="day-title">Friday</h2>
    </div>
    <div class="day-container saturday">
      <h2 class="day-title">Saturday</h2>
    </div>
  </div> -->
</div>

{{outlet}}
