

<ul>
  {{#each appointment in model itemController="appointment"}}
  <li>
    {{link-to appointment.model.url 'index' appointment}}
    <button {{action 'destroy'}}>X</button>
  </li>
  {{/each}}
</ul>
