
{{outlet}}
<div class="thanks-container">
  <h1 class="thanks-banner">Thank you for making an appointment!</h1>
  {{#link-to 'appointments'}}<h3 class="index-link">Take me to my appointments</h3>{{/link-to}}
</div>
